* {
    padding:0;
    margin: 0;
    font-family: Helvetica;
  }
  
  body {
    background:lightgrey;
  }
  
  main {
    width:500px;
    background:white;
    padding: 1em;
    margin:0 auto;
    margin-top: 3em;
    box-shadow: 0px 5px 10px grey;
    border-radius:5px;
  /*   float:left; */
  }
  
  input[name=newTodo] {
    background: lightblue;
    border-radius:5px;
    border:0;
    font-size:16px;
    padding:.5em;
    height:2.5em;
    box-sizing:border-box;
    width:70%;
    margin:0;
    outline:none;
  /*   float:left; */
  }
  
  input[type=submit] {
    margin:0;
    height:2.5em;
    background:lightgreen;
    border:0;
    border-radius:5px;
    width:29%;
    padding:.5em;
    font-size:16px;
  /*   float:left; */
  }
  
  ul {
    list-style:none;
    margin-top:1em;
  }
  
  button {
    background:tomato;
    color:white;
  /*   font-weight:bold; */
    border:0;
    border-radius:50%;
  /*   padding:.3em; */
    width:2em;
    height:2em;
    margin-left:.3em;
  }
  
  ul li {
    margin-bottom:1em;
  }